* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(assets/burger-friends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #0fb9b1;
  padding: 0 1.2rem;
  height: 8%;
  min-height: 2rem;
  max-height: 3.5rem;
}


main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 65%;
  padding: .3 0;
}


h1 {
  font-size: 1.3rem;
}


form {
  display: flex;
  flex-direction: column;
}


h2 {
  height: 2.5rem;
  display: inline-flex;
}

.add-a-recipe-button,
.lets-cook-button {
  height: 1.875rem;
  padding: 0.938rem;
  padding-top: 0.5rem;
  border-radius: 3px;
  border-style: inherit;
  border: 0;
}


.lets-cook-button {
  background-color: #0fb9b1;
  width: 14em;
}


section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(225, 225, 225, .9);
  height: 23rem;
  width: 23rem;
}


label {
  padding: 0.7rem;
}


.red-star {
  color: red;
}


.menu-container {
  padding: 1.8rem;
}


.dish-container {
  text-align: center;
  align-items: center;
}


.menu-selection {
  text-align: left;
}


.recipe-text{
  font-size: large;
  font-style: italic;
  font-weight: bold;

}


.display-recipe {
  font-weight: bold;
  font-size: xx-large;
  padding: .4rem;
  flex-grow: .4;
}


.delete-recipe-button{
  height: 1.875rem;
  border-radius: 0.313rem;
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: 0;
  align-self: flex-end;
  float: right;
  margin-bottom: 0.438rem;
  margin-right: 1.938rem;
  width: 4.063rem;
}


img {
  height: 20vh;
  width: 20vw;
}


.hidden {
  display: none;
}
